<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Resume</title>
</head>
<body>
    <div class="block">
        <div class="container">
            <header>
                <div class="logo"><img src="../images/logo.jpg" alt="Logo"><p>Resume</p></div>

                <input type="checkbox" id="menu-toggle" class="menu-toggle">
                
                <label for="menu-toggle" class="menu-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            
                <nav class="menu">
                    <a href="#">Home</a>
                    <a href="#">Works</a>
                    <a href="#">About</a>
                </nav>
            </header>
            
            <div class="info">
                <div class="hero">
                    <h1>About Me</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, mollitia tempore dolores perferendis iste eveniet. Facilis ut eligendi sequi neque, excepturi modi animi voluptate eaque quam, placeat reiciendis iure iusto?</p>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, at officiis. Iure blanditiis sequi voluptatibus fuga suscipit perferendis aperiam quasi porro, doloremque dolores tenetur tempora sint quas veritatis animi sed.</p>
                    <a href="error.html" class="btn">Error Button</a>
                </div>
                
                <div class="features">
                    <div class="feature">
                        <img src="../images/Sacura.jpg" alt="Экскурсии">
                        <h3>Django</h3>
                    </div>
                    <div class="feature">
                        <img src="../images/Bamboo.jpg" alt="Трансфер">
                        <h3>Aitu Copy</h3>
                    </div>
                    <div class="feature">
                        <img src="../images/Sacura+Volcano.jpg" alt="Проживание">
                        <h3>Comming soon</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
