<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="(min-width: 1200px)" href="../styles/style-1200px.css">
    <link rel="stylesheet" media="(min-width: 992px) and (max-width: 1199px)" href="../styles/style-1200px.css">
    <link rel="stylesheet" media="(min-width: 768px) and (max-width: 991px)" href="../styles/style-1200px.css">
    <link rel="stylesheet" media="(max-width: 767px)" href="../styles/style-1200px.css">
    <link rel="stylesheet" media="(max-width: 480px)" href="../styles/style-1200px.css">
    <title>Copy AITU</title>
</head>
<body>
    <header>
        <div class="navigation-block">
            <a href="#"><img src="../images/header/LOGO.svg" alt="logo_aitu" class="logo_aitu"></a>
            <div class="centerside">
                <ul>
                    <li><a href="#teachers" class="navigation-button">Преподаватели</a></li>
                    <li><a href="#laboratories" class="navigation-button">Лаборатории</a></li>
                    <li><a href="#programs" class="navigation-button">Программы</a></li>
                    <li><a href="#specialities" class="navigation-button">Специальности</a></li>
                    <li><a href="#campus" class="navigation-button">Кампус</a></li>
                </ul>
            </div>
            <div class="rightside"><a href="#" class="language">ENG</a></div>
        </div>
        <div class="main-block">
            <div class="main-background-image"></div>
            <div class="texts">
                <div>Стань обладателям 1100 грантов</div>
                <div>Пройди онлайн тестирование по английскому языку</div>
                <div>и получи преимущество при поступлении</div>
            </div>
            <div class="register-block">
                <div class="register-container">
                    <div class="register-info">
                        <div class="register-padding">
                            <div class="register-text">
                                <p>Регистрация</p>
                                <p>Просим Вас зарегистрироваться на экзамен по английскому языку Astana IT University</p>
                            </div>
                            <div class="register-form">
                                <div>
                                    <p>Имя</p>
                                    <input type="text" placeholder="Birzhanov Arlan">
                                </div>
                                <div>
                                    <p>Email</p>
                                    <input type="email" placeholder="example@gmail.com">
                                </div>
                                <div>
                                    <button type="submit">Приступить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="close-button close-register-button"></div>
            </div>
            <div class="image-button"><a href="#" class="register-test-button"><img src="../images/header/Button.svg" alt="image-button"></a></div>
        </div>
    </header>

    <div class="teachers" id="teachers">
        <div class="teachers-header">
            <h1>Преподаватели</h1>
        </div>
        <div class="teachers-images">
            <div>
                <div><img src="../images/teachers/Rectangle_34.svg" alt="teacher-image"></div>
                <h4>MARK ALEXANDER-WARNE</h4>
                <p>Professor in English Language Program</p>
            </div>
            <div>
                <div><img src="../images/teachers/Rectangle_35.svg" alt="teacher-image"></div>
                <h4>PROF. DR. CARSTEN WOLFF</h4>
                <p>Provost (Vice-rector for Academic Affairs)</p>
            </div>
            <div>
                <div><img src="../images/teachers/Rectangle_36.svg" alt="teacher-image"></div>
                <h4>BEIBUT AMIRGALIYEV</h4>
                <p>ICT professor</p>
            </div>
        </div>
    </div>

    <div class="laboratories" id="laboratories">
        <div class="laboratories-header">
            <h1>Лаборатории</h1>
        </div>
        <div class="laboratories-images">
            <div>
                <div><img src="../images/laboratories/Lab_photo_Cisco.svg" alt="laboratorie-image"></div>
                <h4>Cisco</h4>
                <p>В лаборатории Cisco проводятся обучение по теории и практике проектирования, строительства и эксплуатации локальных и глобальных сетей, управления и устранения неполадок в сетях среднего масштаба.</p>
            </div>
            <div>
                <div><img src="../images/laboratories/lect_aitu.png" alt="laboratorie-image"></div>
                <h4>Huawei</h4>
                <p>Специализированная лаборатория оснащена новейшими технологиями обучения. В академии проводиться подготовки высококвалифицированных специалистов сферы ИКТ по учебному курсу «HCIA-Storage».</p>
            </div>
            <div>
                <div><img src="../images/laboratories/Lab_photo_Huawei.svg" alt="laboratorie-image"></div>
                <h4>Kaspersky</h4>
                <p>
                    Теоретическая и практическая подготовка студентов в рамках учебных программ Лаборатории Касперского:
                    <br>
                    «Информационная безопасность»;
                    <br>
                    «Правовое регулирование информационной безопасности в РК».
                </p>
            </div>
        </div>
    </div>

    <div class="stats">
        <div class="stats-background-image"></div>
        <div class="stats-info">
            <div>
                <p>1100</p>
                <p>ЦЕЛЕВЫХ ГРАНТОВ</p>
                <p>для абитурентам <br> 2020 года</p>
            </div>
            <div>
                <p>50</p>
                <p>START - UP</p>
                <p>проектов <br> финансировано</p>
            </div>
            <div>
                <p>6</p>
                <p>ВУЗОВ ПАРТНЕРОВ</p>
                <p>для академической <br> мобильности</p>
            </div>
            <div>
                <p>1200</p>
                <p>СПЕЦИАЛИСТОВ</p>
                <p>выпускаемых <br> за 1 год</p>
            </div>
        </div>
    </div>

    <div class="programs" id="programs">
        <div class="programs-images">
            <div>
                <div><img src="../images/programs/image_2.svg" alt="program-image"></div>
                <h4>Образовательная программа "Английский курс"</h4>
                <p>Программные (сессионные) курсы английского языка нацелены на освоение университетского академического и профессионального английского языка.</p>
            </div>
            <div>
                <div><img src="../images/programs/image_3.svg" alt="program-image"></div>
                <h4>Образовательная программа "Академическая мобильность"</h4>
                <p>Обучения в зарубежном университете в течение одиного триместр не прерывая своего обучения в Astana IT University по Академической мобильности.</p>
            </div>
            <div>
                <div><img src="../images/programs/image_4.svg" alt="program-image"></div>
                <h4>Семинары и тренинги по профессиональному развитию</h4>
                <p>Повышение квалификации зарубежом, на базе: ВУЗов, научных центров, инженерных лабораторий в форме курсов, стажировок, семинаров и тренингов.</p>
            </div>
        </div>
    </div>

    <div class="achievements" id="achievements">
        <div class="achievements-header">
            <h1>Достижения</h1>
            <p>Свидетельством качества образования являются успешные достижения студентов AITU</p>
        </div>
        <div class="achievements-images">
            <div>
                <div><img src="../images/achievements/leo-kim.jpg" alt="achievement-student-image"></div>
                <h4>BEIGUT BEYSENKHAN</h4>
                <p>Победитель конкурса <br> " The most AITU powerful developer 2020 "</p>
            </div>
            <div>
                <div><img src="../images/achievements/avi-kupperman-f19.jpg" alt="achievement-student-image"></div>
                <h4>ABDUL HALIL</h4>
                <p>Победитель конкурса " IT - kvartal Challenge 2020 "</p>
            </div>
            <div>
                <div><img src="../images/achievements/carol-zhang1.jpg" alt="achievement-student-image"></div>
                <h4>KLIMANTOVICH VICTORIA</h4>
                <p>Победитель конкурса стартап-проектов <br> "Jastar Sinergiiasy" 2019</p>
            </div>
        </div>
    </div>

    <div class="test">
        <div class="test-women-image"><img src="../images/test/Rectangle_33.svg" alt="test-women-image"></div>
        <div class="test-image">
            <div class="test-background-image"></div>
            <div class="test-info">
                <div>
                    <p>Пройди онлайн тестирование <br> по английскому языку</p>
                    <p>и получи прeимущество при поступлении на грант.</p>
                </div>
                <div><a href="#" class="register-button"><img src="../images/test/Button.svg" alt="image-button"></a></div>
            </div>
        </div>
    </div>

    <div class="campus" id="campus">
        <div class="campus-info">
            <p>Students campus</p>
            <p>Проживание в жилых домах университета представляет собой не только хорошие условия, но также насыщенную студенческую жизнь.</p>
        </div>
    </div>

    <div class="videos">
        <div class="video-block">
            <div class="video-container">
                <video src="../videos/ISKU_ IT University project in Astana FullHD.mp4" controls data-index="1"></video>
                <video src="../videos/BI Group completed construction of Astana IT University.mp4" controls data-index="2"></video>
                <video src="../videos/Astana IT University. How to study at the youngest university in Kazakhstan.mp4" controls data-index="3"></video>
                <video src="../videos/Isku Active Learning for Higher Education.mp4" controls data-index="4"></video>
                <video src="../videos/Astana IT University. How to study at the youngest university in Kazakhstan.mp4" controls data-index="5"></video>
            </div>
            <div class="close-button"></div>
        </div>
        <div class="gallery">
            <div class="gallery-container">
                <img class="gallery-item gallery-item-1" src="../images/videos/3272-cmZQvG7t.jpg" alt="picture" data-index="1">
                <img class="gallery-item gallery-item-2" src="../images/videos/Parrallax-Image.jpg" alt="picture" data-index="2">
                <img class="gallery-item gallery-item-3" src="../images/videos/1568177717_lrm_expor.jpg" alt="picture" data-index="3">
                <img class="gallery-item gallery-item-4" src="../images/videos/6-4.jpg" alt="picture" data-index="4">
                <img class="gallery-item gallery-item-5" src="../images/videos/hqdefault.jpg" alt="picture" data-index="5">
            </div>
            <div class="gallery-controls"></div>
            <div class="play-button"> <svg class="play-button-svg" width="70px" height="70px" viewBox="0 0 60 60"> <g stroke="none" stroke-width="1" fill="" fill-rule="evenodd"> <g transform="translate(-691.000000, -3514.000000)" fill="#ffffff"> <path d="M721,3574 C737.568542,3574 751,3560.56854 751,3544 C751,3527.43146 737.568542,3514 721,3514 C704.431458,3514 691,3527.43146 691,3544 C691,3560.56854 704.431458,3574 721,3574 Z M715,3534 L732,3544.5 L715,3555 L715,3534 Z"></path> </g> </g> </svg> </div>
        </div>
    </div>

    <div class="specialties" id="specialities">
        <div class="specialties-header">
            <h1>Специальности</h1>
            <p>Интенсивное обучение студентов в области информационных технологий, а также совершенствование их навыков в смежных отраслях</p>
        </div>
        <div class="specialties-images">
            <div>
                <div><img src="../images/speciality/7-Ways-to-Support-Em.jpg" alt="specialty-image"></div>
                <h4>Бизнес, управление и право</h4>
                <p>Менеджмент и управление <br> Бизнес, управление и право</p>
            </div>
            <div>
                <div><img src="../images/speciality/computer-training-so.jpg" alt="specialty-image"></div>
                <h4>Информационно - коммуникационные технологии</h4>
                <p>
                    Компьютерные науки <br> Программная инженерия <br> Анализ больших данных <br> Промышленная автоматизация
                    <br> Медиа технологии <br> Кибербезопасность <br> Телекоммуникационные системы
                </p>
            </div>
            <div>
                <div><img src="../images/speciality/employee_training_is.png" alt="specialty-image"></div>
                <h4>Социальные науки, журналистика и информация</h4>
                <p>Журналистика и репортерское дело <br> Журналистика и информация</p>
            </div>
        </div>
    </div>

    <div class="reviews">
        <div class="review-text">Отзывы</div>
            <div class="reviews-slider">
            <div class="review-item review-item-1">
                <p>Научные кружки для студентов, конференции международного уровня, круглые столы с участием ярких ученых и практиков. Благодаря чему я «втянулся» в исследовательскую деятельность и после бакалавриата поступил в магистратуру по ИКТ.</p>
                <img src="../images/reviews/portrait-white-man-i.png" alt="review-image">
                <p>Михаил Ленченко</p>
                <p>Выпускник Магистратуры 2019 г.</p>
            </div>
            <div class="review-item review-item-2">
                <p>Я закончила здесь бакалавриат по специальности «Бизнес, управление и право» и очень довольна результатами. Работаю в крупной компании ведущим менеджером - экономистом и почти каждый день использую то, чему меня научили в «AITU».</p>
                <img src="../images/reviews/noroot.png" alt="review-image">
                <p>Акмарал Отепова</p>
                <p>Выпускник бакалавриата 2018 г.</p>
            </div>
            <div class="review-item review-item-3">
                <p>Большое преимущество факультета – подход к обучению иностранным языкам. С первого курса студенты проходят интенсивную языковую подготовку. А также имеется много других образовательных программ по профессиональному развитию.</p>
                <img src="../images/reviews/noroot (1).png" alt="review-image">
                <p>Амир Дамиров</p>
                <p>Выпускник бакалавриата 2020 г.</p>
            </div>
        </div>
        <div class="reviews-controls"></div>
        <div class="small-controls">
            <div><label class="switch switch-color-1" for="switch"></label></div>
            <div><label class="switch switch-color-2" for="switch"></label></div>
            <div><label class="switch switch-color-3" for="switch"></label></div>
        </div>
    </div>

    <footer>
        <div class="footer-image">
            <div class="footer-background-image"></div>
            <div class="footer-info">
                <div class="left-info">
                    <img src="../images/header/LOGO.svg" alt="">
                    <p>Astana IT University обеспечивает цифровую трансформацию через обучение, исследования и успешные инновации.</p>
                    <p>© 2020 AITU. All Rights Reserved</p>
                </div>
                <div class="center-info">
                    <h2>Контакты</h2>
                    <p>+7 (7172) 645-710</p>
                    <p>info@astanait.edu.kz</p>
                    <p>Нур-Султан Бизнес-центр EXPO, <br> блок C.1. Казахстан, 010000</p>
                </div>
                <div class="right-info">
                    <h2>Мы в соц. Сетях</h2>
                    <div class="social-info">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-regular fa-envelope"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-telegram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/73ac4e980c.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/navigationChange.js"></script>
    <script src="../js/campusCarousel.js"></script>
    <script src="../js/reviewCarousel.js"></script>
    <script src="../js/registerBlock.js"></script>
</body>
</html>